.wrapper{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.btn{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 180px;
    height: 44px;
    border-radius: 4px;
    padding: 12px 26px;
    background-color: #30B868;
    font: bold;
    color: white;
    
}
.navbar{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
#img {
    max-width: 139px;
    max-height: 60px;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}
nav a {
    text-decoration: none;
    /* max-width: 67px;
    max-height: 24px; */
    color: black;
}
.Banner{
    width: 1600px;
    height: 674px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    margin: 0 auto;
    
    
    
}
.middle{
     max-width: 1360px;
    max-height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 154.5px;

}
#first{
    max-width: 229px;
    max-height: 354px;
    border-radius: 1000px;
    background-color: white;
    font: medium;
    color: #30B868;
    margin-bottom: 10px;


}
.middle h1 {
    max-width: 770px;
    max-height: 1368px;
    margin-bottom: 16px;
    font-size:55px;
    color: azure;

}
.middle span{
    color: #30B868;
}
.middle #second {
line-height: 24px;
margin-bottom: 32px;
color: azure;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#abc{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    background: transparent;
    color: azure;
}
.Notes{
    width: 1600px;
    height:506px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    


}
.Notes h1{
    font-size: 50px;
    margin-bottom: 36px;

}
.Notes p{
    color: gray;
}
.cards {
    width: 1360px;
    height: 300px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.card{
    width: 322px;
    height: 295px;
    /* background-color:#F95555; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px;
}
.icon{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: #F95555;
}
.icon img {
    width: 32px;
    height: 32px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 15px;
    margin-top: 15px;

}
.second-brain{
    width: 1600px;
    height:840px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.div1{
    width: 1360px;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* background-color:#F95555; */


}
.div1 img{
    width: 600px;
    height:600px;
}
#ppp{
    color: gray;
}
.checkpick{
    max-width: 20px;
    max-height:20px;
}
.Early-Access{
    width: 1600px;
    height:506px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color:aqua; */
    margin: 0 auto;
}
.early{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 16px;
    width: 1360px;
    height:384px;
    background-color: #F7F6F2;
}
#arrow{
    width: 20px;
    height:20px;
}
