.wrapper{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.btn{
    max-width: 164px;
    max-height: 44px;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #30B868;
    font: bold;
    color: white;
}
.navbar{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    margin: 0 auto;
}
#img {
    max-width: 139px;
    max-height: 60px;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}
nav a {
    text-decoration: none;
    /* max-width: 67px;
    max-height: 24px; */
    color: black;
}